.slide{
    // min-height: 200px;
}

.image {
    width: 350px; /* Adjust to your desired width */
    height: 350px; /* Adjust to your desired height */
    /* Center the image horizontally and vertically */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
